<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Template</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">

      <header>
      </header>

      <main>
        <section class="Section1">
          <div>
            <p> Device: {{ deviceName }} </p>
            <p> Status: {{ sortedLoggings[0] ? sortedLoggings[0].status : '' }} </p>
            <p> Sidst Set: {{ sortedLoggings[0] ? sortedLoggings[0].timestamp : '' }} </p>
            <p> Lokation: {{ sortedLoggings[0] ? sortedLoggings[0].address : '' }} </p>
          </div>

          <div class="findButtonDiv">
            <button @click="GetAll" class="findButton">Track! </button>
            <button @click="StopTracking" class="stopButton">Stop Tracking </button>
            <button @click="StopIndicators" class="stopIndicatorsButton">Stop Indikators </button>
          </div>

          <div class="placeholderMap"></div>
        </section>

        <section class="Section2">
          <table class="table table-bordered table-striped w-100">
            <thead class="thead-dark">
              <tr>
                <th>Tidspunkt</th>
                <th>Status</th>
                <th>Event</th>
                <th>Addresse</th>
                <th>Koordinater</th>
                <th>Aktion</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(log, index) in sortedLoggings" :key="index">
                <td>{{ log.timestamp }}</td>
                <td>{{ log.status }}</td>
                <td>{{ log.event}}</td>
                <td>{{ log.address }}</td>
                <td>{{ log.coordinates }}</td>
                <td><input type="checkbox" v-model="log.selected"></td>
              </tr>
            </tbody>
          </table>
        </section>
      </main>
      
    </div>

    <!-- Import App -->
    <script src="./js/main.js"></script>

    <!-- Mount App -->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>