h1 {
    font-size: 50px;
    color: blue;
  }

.findKnap {
  background-color: #98FB98;
  padding: 3.5rem 6.5rem;
  font-weight: bold;
  margin: 0.5rem 1rem 0.5rem 1rem;
}

.findKnapDiv {
  margin-left: 45rem;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.Section1 {
  display: flex;
}

.placeholderKort {
  width: 25rem;
  height: 20rem;
  background-color: blue;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

main {
  margin-top: 5rem;
}
