h1 {
    font-size: 50px;
    color: blue;
  }

.findKnap {
  background-color: #98FB98;
  padding: 3.5rem 6.5rem;
  font-weight: bold;
  margin: 0.5rem -2rem 0.25rem 1rem;
}

.stopKnap {
  background-color: #FF0000;
  padding: 0.75rem 2rem;
  font-weight: bold;
  margin: 0.25rem -2rem 0.25rem 1rem;
}

.stopIndicatorsKnap {
  background-color: #FFC72C;
  padding: 0.75rem 2rem;
  font-weight: bold;
  margin: 0.25rem -2rem 0.5rem 1rem;
}

.findKnapDiv {
  margin-left: 45rem;
  display: flex;
  flex-direction: column;
  max-width: 250px;
}

.Section1 {
  display: flex;
  margin-left: 50px;
}

.Section1 p {
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
}

.placeholderKort {
  width: 25rem;
  height: 20rem;
  background-color: blue;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

main {
  margin-top: 5rem;
}
