h1 {
    font-size: 50px;
    color: blue;
  }

.findButton {
  background-color: #98FB98;
  padding: 3.5rem 6.5rem;
  font-weight: bold;
  margin: 0.5rem -2rem 0.25rem 1rem;
}

.stopButton {
  background-color: #FF0000;
  padding: 0.75rem 2rem;
  font-weight: bold;
  margin: 0.25rem -2rem 0.25rem 1rem;
}

.stopIndicatorsButton {
  background-color: #FFC72C;
  padding: 0.75rem 2rem;
  font-weight: bold;
  margin: 0.25rem -2rem 0.5rem 1rem;
}

.findButtonDiv {
  display: flex;
  flex-direction: column;
  flex: 0 0 250px;
  max-width: 250px;
  margin-left: -15px;
  margin-right: 2rem;
  font-size: 1.5rem;
}

.Section1 {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.Section1 > div {
  flex: 1 1 200px;
}

.Section1 p {
  font-size: 30px;
  line-height: 1.4;
  font-weight: bold;
}

.placeholderMap {
  flex: 1 1 40rem;
  min-width: 50%;
  max-width: 100%;
  height: 30rem;
  background-color: blue;
  margin-top: 0.5rem;
}

.Section2 {
  margin-top: 3rem;
  overflow-x: auto;
}

.Section2 table {
  width: 100%;
  min-width: 600px;
  font-size: 20px;
  border-collapse: collapse;
}

main {
  margin-top: 1rem;
}
body {
  margin-right: 50px;
  margin-left: 50px;
}

#map { 
  flex: 1 1 40rem;
  min-width: 50%;
  max-width: 100%;
  height: 30rem;
  margin-top: 0.5rem;
}

.greenText {
  color: rgb(23, 162, 23);
  font-weight: bold;
}

.AccountSettings {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.AccountSettings button {
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.headerDiv {
  display: flex;
  gap: 2rem;
}

.User {
  font-size: 2rem;
}
header {
  margin-top: 1rem;
}
